@import "variables";

/* -----------------------   
          header
-------------------------- */

.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}

.main-nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #fcfcfc;
  gap: 1rem;
  padding: 4.8rem 17rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 13;
}
.main-nav-list > ul > li > a {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 0.6rem;
  z-index: 11;
}
.btn-mobile-nav {
  display: none;
}
.list-nav-tow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.list-nav-tow > li > a {
  color: $white-color;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 1.4rem;
  transition: all 0.6s;
}
.list-nav-tow > li > a:hover {
  color: black;
  cursor: pointer;
}

.list-nav-first {
  box-shadow: inset 7px 7px rgb(255, 255, 255), 7px 7px rgb(255, 255, 255);
  padding: 0.8rem 2.2rem;
  transition: all 0.6s;
  border: 1px solid #fff;
  border-radius: 2px;
  color: $white-color;
}

.list-nav-first:hover {
  box-shadow: inset 0px 0px rgb(3, 3, 3), 0px 0px rgb(5, 5, 5);
  color: #fff;
  cursor: pointer;
}
.ink-nav {
  color: $white-color;
}
/*-------- end navbar  ------*/

.text-hader {
  position: absolute;
  top: 29rem;
  left: 18rem;
}
.text-hader > h1:nth-of-type(1),
h1:nth-of-type(2) {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
//
.text-hader > h2:nth-of-type(1) {
  color: #fff;
  font-size: 1.2rem;
  font-weight: normal;
  margin-top: 1.8rem;
}

/* ----------------------------------------------- */

.slider {
  width: 100%;
  height: 100vh;

  position: relative;
  overflow: hidden;
}
.slider > figure {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  animation-iteration-count: infinite;
  animation-duration: 20s;
  animation-timing-function: linear;
}
.img-header {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(77%);
}

.slider > figure:nth-of-type(1) {
  animation-name: img1;
}
@keyframes img1 {
  0% {
    left: 0;
  }
  30% {
    left: 0;
  }
  36% {
    left: 100%;
  }
  36.00000001% {
    left: -100%;
  }
  94% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
.slider > figure:nth-of-type(2) {
  animation-name: img2;
}

@keyframes img2 {
  0% {
    left: -100%;
  }
  30% {
    left: -100%;
  }
  36% {
    left: 0;
  }
  63% {
    left: 0;
  }
  69% {
    left: 100%;
  }
  69.0000000001% {
    left: -100%;
  }
  100% {
    left: -100%;
  }
}

.slider > figure:nth-of-type(3) {
  animation-name: img3;
}
@keyframes img3 {
  0% {
    left: -100%;
  }
  63% {
    left: -100%;
  }
  69% {
    left: 0;
  }
  94% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/*----------- end text-hader  ---------*/

/*--------------------

section box-text 

--------------------------------- */
.box-text {
  width: 100%;
  height: 100%;
  background-color: #f7f6f6;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding: 3.2rem 12.8rem;
  gap: 2.4rem;
  .box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(250, 250, 250);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 1px 1px 8px rgba(145, 145, 145, 0.064);
    position: relative;
    top: -7rem;
    word-spacing: 1px;
  }
  p:nth-of-type(1) {
    margin-bottom: 1.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  p:nth-of-type(2) {
    margin-bottom: 1.4rem;
    font-size: 1.1rem;
    text-align: center;
    color: #8a8a8a;
    line-height: 1.4rem;
    letter-spacing: 0.1px;
  }
  .img-box {
    width: 15%;
    margin: 1.2rem 0 2.4rem 0;
  }
  .btn-link-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    background-color: $green-color;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: all 1s;
    &:hover {
      background-color: #217041;
    }
  }
}

/*----------------- 

            section about 

----------------------*/
/* form */
.about {
  display: grid;
  grid-template-columns: 40% 45%;
  align-items: center;
  justify-items: center;
  margin: 0 0 4rem 4.8rem;
  gap: 4.8rem;
  position: relative;
  .form {
    height: auto;
    background-color: rgb(255, 255, 255);
    position: relative;
    justify-self: end;
    .img-form {
      margin-top: 2rem;
      width: 25rem;
      height: 40rem;
    }

    .position {
      position: absolute;
      top: 6rem;
      .text-form-head {
        font-size: 1rem;
        color: $white-color;
        margin: 1rem 2.2rem 0;
        font-family: inherit;
        font-weight: 500;
        word-spacing: 0.5px;
      }
      .text-form-first {
        font-size: 2.2rem;
        color: $white-color;
        margin: 0.7rem 2.2rem 1.8rem;
        font-family: inherit;
        font-weight: bold;
        font-weight: bold;
        word-spacing: 0.5px;
      }
    }
  }
}

.form-about {
  width: 30%;
  height: auto;
  margin: 0 2rem;
  input {
    background: none;
    font-size: 1.4rem;
    font-family: inherit;
    border: none;
    color: $white-color;
    margin-bottom: 1rem;
    padding: 1rem 1.4rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.651);
  }
  .btn-about {
    width: 20rem;
    background: $btn-color;
    border: 1px solid $btn-color;
    color: $white-color;
    display: inline-block;
    font-size: 1.2rem;
    padding: 1.2rem 4.8rem;
    border-radius: 4px;
    transition: all 0.4s;
    font-weight: 500;
    margin-top: 1.4rem;
    &:hover {
      cursor: pointer;
      background-color: rgba(226, 164, 41, 0.116);
      border: 1px solid $btn-color;
      color: $btn-color;
    }
  }
}

.form-about > input::placeholder {
  color: rgba(255, 255, 255, 0.808);
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 500;
}

/* ----------text--------- */
//
.about-text > p:nth-of-type(1) {
  font-size: 1.2rem;
  display: block;
  text-transform: uppercase;
  color: $green-color;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 3.2rem 0 1.2rem;
}

.about-text > h3 {
  &:nth-of-type(1) {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
  }
}

.about-text > p {
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4),
  &:nth-of-type(5) {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    color: #838383;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1.7rem;
  }
}

.box-about {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.box-about > div {
  &:nth-of-type(1),
  &:nth-of-type(2),
  &:nth-of-type(3),
  &:nth-of-type(4) {
    width: 100%;

    background-color: #f7f6f6;
    margin: 1rem;
    border: 1px solid #dadada63;
    box-shadow: 1px 1px 8px rgba(184, 184, 184, 0.082);
  }
}
.box-about > div > p {
  &:nth-last-of-type(1),
  &:nth-last-of-type(2) {
    color: #a8a8a8e5;
    height: 1.4rem;
    font-size: 1rem;
    word-spacing: 5px;
    letter-spacing: 1px;
  }
}

.box-about > div > p {
  &:nth-last-of-type(1) {
    margin-bottom: 2rem;
  }
}

.box-about > div > p > strong {
  color: $green-color;
  font-size: 1.2rem;
  margin: 1rem;
  text-align: left;
  display: inline-block;
}

.text-aline-abute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-aline-abute:nth-child(2) {
  padding: 0 0.8rem;
}
/* end about */

/*--------------------------------
        section  Projects slider
 ---------------------------------*/
.section {
  background-color: #f7f6f6;
  width: 100%;
  height: auto;
}
.text-head > p:nth-of-type(1) {
  color: $green-color;
  text-align: center;
  margin: 1.2rem 0;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 6.4rem 0 0;
  letter-spacing: 2px;
}
.text-head > p:nth-of-type(2) {
  color: #333;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 1.6rem;
}
.text-head > p:nth-of-type(3) {
  color: #969696e8;
  text-align: center;
  margin: 1rem 2.4rem 9.6rem;
  font-weight: 500;
}
//
.project {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 2.4rem;
  gap: 1rem;
  .slider-project {
    width: 100%;
    height: 450px;
    position: relative;
    overflow: hidden;
  }
  figure {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    animation-iteration-count: infinite;
    animation-duration: 20s;
    animation-timing-function: linear;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

//
.slider-project > figure:nth-of-type(1) {
  animation-name: slider-project1;
}
@keyframes slider-project1 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  28% {
    opacity: 0;
  }
  28.0000000001% {
    opacity: 0;
  }
  94% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.slider-project > figure:nth-of-type(2) {
  animation-name: slider-project2;
}

@keyframes slider-project2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  53.0000000001% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.slider-project > figure:nth-of-type(3) {
  animation-name: slider-project3;
}

@keyframes slider-project3 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  53% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  78% {
    opacity: 0;
  }
  78.0000000001% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.slider-project > figure:nth-of-type(4) {
  animation-name: slider-project4;
}
@keyframes slider-project4 {
  0% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  78% {
    opacity: 1;
  }
  94% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.example-design {
  color: $medium-color;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 4rem 4.8rem 2.4rem;
  text-transform: uppercase;
  font-family: inherit;
}

.link-project {
  margin-left: 46%;
  text-align: center;
  padding: 0.7rem 2rem;
  background: $btn-color;
  border: 1px solid $btn-color;
  color: $white-color;
  display: inline-block;
  border-radius: 4px;
  transition: all 0.4s;
  font-weight: 500;
  margin-bottom: 3.2rem;
  &:hover {
    cursor: pointer;
    background-color: inherit;
    border: 1px solid $btn-color;
    color: $btn-color;
  }
}

//-- end project---

// ------------- section team  -------------
.section-team {
  width: 100%;
  height: auto;
  margin-bottom: 4.8rem;

  .grid-team {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1.6rem;
    margin: 0 4rem;
    .figure-img-team {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      position: relative;
      &:hover > .team-hover {
        opacity: 1;
        height: 100%;
        visibility: visible;
      }
      img {
        width: 97%;
        height: auto;
      }
    }
    .team-hover {
      width: 97%;
      height: 60%;
      padding-top: 9rem;
      position: absolute;
      text-align: center;
      background-color: #f7f6f6;
      opacity: 0;
      transition: all 0.3s;
      pointer-events: none;
      visibility: hidden;

      .teax-team-first {
        color: $green-color;
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        padding-bottom: 1.4rem;
      }
      .teax-team-tow {
        color: black;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: 1px;
        padding-bottom: 1.6rem;
      }
      .teax-team-three {
        color: $medium-color;
        font-size: 1rem;
        letter-spacing: 1px;
        padding: 0 1rem 1.6rem;
      }

      .team-social {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        color: #000;
        transition: all 0.4s;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
// end team

// ------- section-blog   ------------
.grid-blog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  width: 100%;
  column-gap: 2rem;
  row-gap: 8rem;
  padding: 0 4.8rem 4.8rem;
  .figure-img-blog {
    width: 100%;
    position: relative;
    .number-blog {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -1.5rem;
      left: 3rem;
      gap: 1rem;
      .number1 {
        font-size: 2.4rem;
        font-weight: 700;
      }
      .number2,
      .number3 {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    .text-blog {
      width: 90%;
    }
  }
}
.flex-blog-help {
  padding-bottom: 8rem;
  margin-top: 9.6rem;
}

.figure-img-blog > img {
  width: 90%;
  height: auto;
}

.text-blog > :nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.4rem;
  transition: all 0.4s;
  width: 50%;
  &:hover {
    color: $green-color;
    cursor: pointer;
  }
}

.text-blog > :nth-of-type(2) {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  color: $pale-color;
}
.read-more-blog {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;

  .link-blog {
    padding: 0.7rem 2rem;
    background: $btn-color;
    border: 1px solid $btn-color;
    color: $white-color;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.4s;
    font-weight: 500;
    &:hover {
      cursor: pointer;
      background-color: inherit;
      border: 1px solid $btn-color;
      color: $btn-color;
    }
  }
  .flex-admin-blog {
    display: flex;
    gap: 0.3rem;
    color: $pale-color;
    font-family: inherit;
    font-weight: 500;
    transition: all 0.3s;
    &:hover {
      color: $medium-color;
      cursor: pointer;
    }
  }
}
/* ------------section-contact---------------- */
.section-contact {
  width: 100%;
  height: 103%;
  .map-contact {
    width: 75%;
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 4.8rem;
    padding: 0;
    .map {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      .ifram-map {
        width: 100%;
        height: 100%;
      }
    }
    .contact {
      width: 90%;
      height: 100%;
      background-color: #f7f6f6;
      .form-contact {
        width: 100%;
        height: 1.6rem;
        margin: 3.2rem 3.2rem;
        input,
        textarea {
          width: 80%;
          height: 100%;
          margin: 0.5rem 0;
          font-size: 1rem;
          font-weight: 500;
          padding: 1.4rem;
          border-radius: 4px;
          border: 0.2px solid #c2c2c2;
        }
        textarea {
          width: 80%;
          height: 10rem;
          resize: none;
          font-family: inherit;
          padding: 1rem 1.4rem;
        }
        .btn-contact {
          margin-top: 1rem;
          padding: 1rem 2.4rem;
          background: #fdb82c;
          border: 1px solid #fdb82c;
          color: #fff;
          font-size: 1.2rem;
          display: inline-block;
          border-radius: 4px;
          transition: all 0.4s;
          font-weight: 500;
          box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
          &:hover {
            cursor: pointer;
            background-color: rgba(226, 164, 41, 0);
            border: 1px solid $btn-color;
            color: $btn-color;
          }
        }
      }
    }
  }
}

.box-contact {
  width: 80%;
  margin: 0 13rem 9.6rem 9.6rem;
  height: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 9.6rem;
  .box-contact-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #eeeded38;
    border-radius: 4px;
    box-shadow: 0px 3.2rem 3rem 1rem rgba(75, 75, 75, 0.05);
    border: 1px solid rgba(27, 27, 27, 0.05);

    .icon-contact {
      background-color: #eeeeeed3;
      padding: 1.6rem;
      border-radius: 50%;
      font-size: 2.4rem;
      margin: 1.8rem 0;
      color: $green-color;
    }
    .address-contact {
      font-size: 1.2rem;
      font-weight: 700;
      color: black;
    }
    .address-box-contact {
      letter-spacing: 0.5px;
      text-align: center;
      font-size: 1rem;
      font-weight: 500;
      color: $pale-color;
      padding: 2.4rem 1.8rem;
    }
    .paddin-help {
      padding: 3rem 0;
    }
  }
}
// ---------- footer --------
.section-footer {
  width: 100%;
  height: 75vh;
  background-color: black;
  color: #fff;
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    padding: 9.6rem 9.6rem 0;

    .list-footer {
      width: 75%;
      > li:nth-of-type(1) {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }
      > li:nth-of-type(2) {
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.8rem;
        margin-bottom: 2rem;
        color: #ffffffb3;
      }
      .list-icon-footer {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #ffffffb3;
        .icon-footer {
          font-size: 1.4rem;
          color: #ffffff99;
          padding: 1rem;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.1);
          transition: all 0.4s;
          &:hover {
            background-color: #8a8a8a;
          }
        }
      }
    }
  }
}

.link-style {
  .icon-right-footer {
    font-size: 1.2rem;
    color: #ffffffb3;
  }
  li:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  a:nth-of-type(1) {
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #ffffffb3;
    transition: all 0.3s;
    &:hover {
      color: #f8f7f7;
    }
  }
}

.address-footer {
  width: 80%;
  .list-address-footer {
    display: flex;
  }
  & li:nth-of-type(1) {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  li:nth-of-type(2) {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.8rem;
    margin-bottom: 1rem;
    color: #ffffffb3;
  }
  a:nth-of-type(1) {
    margin: 0.6rem 0;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #ffffffb3;
    transition: all 0.3s;
    &:hover {
      color: #f8f7f7;
    }
  }
  .icon-address-footer {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: #ffffffb3;
  }
}
.footer-copyright {
  margin: 9.6rem 0;
  text-align: center;
  color: #ffffffb3;
}

//end footer

@import "media";
